@font-face {
    font-family: spacemono-ital;
    src: url(./assets/fonts/SpaceMono-Italic.ttf);
}

@font-face {
    font-family: CircularStd-Book;
    src: url(./assets/fonts/CircularStd-Book.ttf);
}
